@import url("https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css");

#bodyAgendamento{
    height: 1000px;
    background-color: rgb(255, 255, 255);
}
.agenda-img{
    border-radius: 60px;
    height: 90px;
    width: 90px;
    float: left;
    margin: 25px;
    margin-left: 2%;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.151);
}
.agenda-img:hover{
    width: 100px;
    height: 100px;
    box-shadow: 1px 3px 30px rgba(112, 112, 112, 0.555);
}
.agenda-h6{
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.267);
    font-weight: 700;
    letter-spacing: 2px;
}
.agenda-h3{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -3px;
    /*float: left;*/
}
a:link{
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}
.td-horario-indisponivel{
    font-size: 13px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0);
    background-color: hsla(0, 100%, 50%, 0.089);
    transition: .10s ease;
    text-align: center;
    width: 70%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.td-horario-disponivel{
    color: rgb(2, 90, 2);
    background-color: rgba(126, 252, 0, 0.329);
    transition: 0.5s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.td-horario-indisponivel:hover{
    color: rgba(255, 0, 0, 0.514);
    background-color: rgba(255, 0, 0, 0.288);
    opacity: 1;
    letter-spacing: 4px;
    font-size: 16px;
}
.td-horario-disponivel:hover{
    color: black;
    background-color: rgba(126, 252, 0, 0.733);
    letter-spacing: 4px;
    font-size: 16px;
}
.td-horario-disponivel, .td-horario-indisponivel{
    border: inherit;
    width: 70%;
    transition: all .10s ease-in-out;
}

.card-horario{
    background-color: #d4dbfe6c;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s ease;
    display: flex;
    flex-wrap: wrap;
}
.card-horario:hover{
    box-shadow: 1px 5px 20px #4d4d4d1a ;
}
.card-hora{
    padding: 10px;
    width: 30%;
}
#div-calendario-agendamento{
    width: 35%;
    margin-top: 0;
    margin-left: 55%;
    float: right;
    position: fixed;
}
.agendamento-container{
    width: 40%;
    margin: 5%;
    margin-top: -5%;
    float: left;
}