body, #bodyMeuProf {
    font-family: "Lato", sans-serif;
    background-color: #fbfbfa ;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fbfbfa ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#0f0d0d;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover, .opcaoMenu {
    color: #818AE7;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.btnSair{
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 5px;
  width: 50%;
  margin-left: 25%;
  transition: all 0.2s;
  background-color: #818AE7;
  border:#818AE7;
}

#menu{
  margin-left: -100px;
  margin-right: 20px;
 
}

/*************************************************************/
#profile-container{
    margin-top:50px;
}

#image-profile{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-left: 35px;
}

#nome-profile{
    font-size: 20px;
    margin-top: 30px;
    color: #818AE7;
    margin-left: 850px;
    /*color:black;*/
}
#logo_menu{
    width: 160px;
    height: 160px;
    margin-left: 18%;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  background-color:#e9eef8b0 ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.123);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; 
  color: #818AE7;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}
